$red:#e45028;
$grey:#2f3234;
$grey-dark:#5f6062;
$white:#ffffff;
$orange: #f9b43b;
$Ubuntu: "Ubuntu";
$UbuntuBold: "UbuntuBold";
$UbuntuLight: "UbuntuLight";
$LifehackItalic: 'Lifehack Italic';
$GadalinRegular: "Gadalin Regular";
$LifehackMedium: "Lifehack Medium";
$width: 100%;
$height: 100%;