.contacts {
    // background: url("../images/contacts/section9_map.jpg") center center / cover no-repeat;
	position: relative;
	
}

.map__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

// .markers__list img {
//     width: 4.6rem;
//     height: 5.7rem;
//     max-width: 100%;
// }

// .marker-1 {
//     position: absolute;
//     top: 13rem;
//     right: 55.5rem;
// }

// .marker-2 {
//     position: absolute;
//     top: 23rem;
//     right: 43rem;   
// }

// .marker-3 {
//     position: absolute;
//     top: 34rem;
//     right: 22rem;
// }

// .marker-4 {
//     position: absolute;
//     top: 3rem;
//     left: 55rem;
// }

// .map-marker-icon {
//     width: rem(46px);
//     height: rem(57px);
// }

.map {
	// height: 100vh;
	width: 100%;
	flex: 1;
}

.map__footer {
	display: flex;
}

.map__hint {
    padding: rem(10px);
    font-size: rem(12px);
	line-height: 1;
	color: #ffffff;
    background-color: #f9b43b;
	background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
	border-radius: 3px;
}

.map__balloon {
	padding: rem(10px);
	font-size: rem(12px);
	line-height: 1;
	color: #ffffff;
	background-color: #f9b43b;
	background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
	border-radius: 3px;
}
