.down-arrow {
    display: block;
    width: 29px;
    height: 14px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../images/hero/arrow-scroll.png")
}