.feature__desc {
    text-align: center;
}

.feature__pic {
    display: flex;
    justify-content: center;
    // margin-bottom: 10px;
    // выравнивание по pixel perfect
    margin-bottom: 33px;

    & img {
        max-width: 100%;
    }
}

.feature__title {
    font-family: "Lifehack";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.feature__text {
    font-size: 14px;
    font-weight: 300;
    color:$grey;
    opacity: 0.8;
    line-height: 24.07px;
    
}
