.header {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    @include flex ();
    padding-top: 10px;
}

.header__buttons {
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    @include flex (flex-end);
}

.header__order-btn {
    margin-left: 15px;
    // выравнивание по pixel perfect
    margin-top: 6px;
}

.logo__header {
    position: relative;
    width: 9.2rem;
    height: 6.9rem;
}

.logo-img {
    position: absolute;
    max-width: 100%;
    top: 0;
    bottom: 0;
}