.section-title {
    font-size: 72px;
    font-family: "Gagalin";
    font-weight: 400;
    margin-bottom: 45px;
    line-height: 1;
    color: $orange;

    &--color-black {
        color: #000;
    }

    &--centered {
        text-align: center; 
    }

    // выравнивание по pixel perfect
    &--hero {
        margin-bottom: 30px; 
    }
}