.team {
    background: url("../images/team/section4_team.jpg") center center / cover no-repeat;
    position: relative;
}

.section-team__img {
	position: absolute;
    background: url("../images/team/section4_grey.jpg") left / cover;
    width: 50%;
	height: 100%;
	top: 0;
    right: 0;
    background-color: $grey;
    opacity: 0.93;
}

